<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>nexus-releases</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>

        <server>
            <id>nexus-snapshots</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <!-- Miroir pour Nexus Releases -->
        <mirror>
            <id>nexus-releases</id>
            <mirrorOf>*</mirrorOf>
            <url>${env.NEXUS_URL}/repository/maven-releases/</url>
            <blocked>false</blocked>
        </mirror>

        <!-- Miroir pour Nexus Snapshots -->
        <mirror>
            <id>nexus-snapshots</id>
            <mirrorOf>*</mirrorOf>
            <url>${env.NEXUS_URL}/repository/maven-snapshots/</url>
            <blocked>false</blocked>
        </mirror>

        <!-- Miroir pour Maven Central (ajouté pour le fallback) -->
        <mirror>
            <id>central</id>
            <mirrorOf>central</mirrorOf>
            <url>https://repo.maven.apache.org/maven2/</url>
            <blocked>false</blocked>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>allow-http</id>
            <repositories>
                <repository>
                    <id>nexus-releases</id>
                    <url>${env.NEXUS_URL}/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>nexus-snapshots</id>
                    <url>${env.NEXUS_URL}/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <!-- Ajout de Maven Central pour les dépendances -->
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>allow-http</activeProfile>
    </activeProfiles>

</settings>